
body
{
    overflow-x: hidden;
    overflow-y: scroll;
}
hr
{
    width: 95%;
    height: 2px;
    background-color: #6F92E8;
}
.top_bar
        {
            background-color: darkorange;
        }
.social_icon
{
    margin-left: 5px;
    color: black;
   transition: .5s;
}
.social_icon:hover
{
    color: white;
}
.navbar
{
    padding: .0rem 0rem;
}
.navbar .navbar-brand
{
    margin-left: 50px;
}
.navbar .navbar-brand .text
{
    text-shadow: 0 2px 0 hsla(0, 0%, 0%, 0.95), 0 3px 0 hsl(174, 100%, 4%), 0 4px 0 hsl(174, 100%, 1%), 0 5px 0 hsl(174, 100%, 2%), 0 6px 0 hsl(0, 0%, 0%), 0 7px 0 hsl(0, 0%, 0%), 0 8px 0 hsl(0, 0%, 0%), 0 0 5px rgb(0, 0, 0), 0 1px 3px rgb(0, 0, 0), 0 3px 5px rgb(0, 0, 0), 0 5px 10px rgba(0, 0, 0, 0.93), 0 10px 10px rgb(2, 2, 2), 0 20px 20px rgb(4, 4, 4);
}
.navbar .active a
{
    background-color: orange;
}
.navbar ul li a:hover
{
    background-color: orange;
    transition: .5s;
}
.navbar ul li a
{
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: bolder;
     margin-right: 5px;
}
.navbar .navbar-toggler
{
    margin-right: 20px;
}
.carousel .carousel-item
{
		opacity: 1;
		transition: opacity .5s;
}
.card
{
    position: relative;
    border: none;
}
.card img:hover
{
    opacity: .8;
    transition: .5s;
}
.card-body
{
    margin: 0;
    padding: 0;
    text-align: center;
}
.section .row h1
{
    font-weight: bolder;
    text-transform: uppercase;
    color: darkorange;
    margin-top: 25px;
}
.section1 .row .item p
{
    padding: 10px;
    color: dimgray !important;
    font-weight: 500;
}
.section1 .row .item h3
{
    padding: 10px;
    color: black;
    font-weight: bold;
}
.section1 .row .item h5
{
    padding: 10px;
    color: black;
    font-weight: bolder;
}
.section1 .row 
{
    margin-left: 5px;
    margin-right: 5px;
}
.section4
{
    margin-bottom: 10px;
}
.section4 .row
{
    margin-top: 40px;
}
.section4 .row .imgsetting 
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.section4 .row .col-10 .fa-shopping-cart
{
    margin-top: 25px;
    margin-right: 1px;
}
.section4 .row .col-10 .fa-shield 
{
    margin-top: 27px;
    margin-left: 1px;
}
.section4 .row .col-10 .fa-check-square-o
{
    margin-top: 27px;
    margin-left: 5px;
}
.section4 .row p
{
    padding: 10px;
    color: dimgray !important;
    font-weight: 900;
}
.section4 .row h3
{
    margin-top: 5px;
    font-weight: bold;
}
.section4 h2
{
    font-weight: bolder;
    text-transform: uppercase;
    color: darkorange;
}
.section2
{
    background-image: url("https://www.elevatedthird.com/sites/default/files/styles/hero_banner/public/image/2017-05/eCommerce.jpg?itok=536iu5r1");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.section2 h2, h5, h4
{
    font-weight: bolder;
    font-family: sans-serif;
}
.section2 .btn
{
    font-weight: bolder;
    margin-top: 1px;
}
.section2 .btn:hover
{
    background-color: #6F92E8;
}
.section3 h2
{
   font-weight: bolder;
   color: darkorange; 
}
.section3 .row .col-10 h4, h6
{
    font-weight: bold;
    margin-top: 10px;
}
.footersection
{
    background-color: #f1f1f1;
}
.footersection h6
{
    color: darkorange;
}
.footersection a
{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.footersection a:hover
{
    color: darkorange;
}
.footersection p
{
    font-family: sans-serif;
    font-weight: 800;
}
.footersection
{
  margin-top: 20px;
    margin-bottom: 10px;
}
.licens .row
{
    margin-top: 10px;
}
.licens .row .col-sm-6 .social_facebook:hover
{
    color: #3b5999;
}
.licens .row .col-sm-6 .social_twitter:hover
{
    color: #55acee;
}
.licens .row .col-sm-6 .social_youtube:hover
{
    color: #cd201f;
}
.licens .row .col-sm-6 .social_google:hover
{
    color: #dd4b39; 
}
.licens .row .col-sm-6 .social-instagram:hover
{
    color: #bc2a8d;
}
.licens .row .col-sm-6 .social
{
    color: white;
    font-size: 30px;
    margin-left: 5px;
}
